html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 160px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    padding: 10px;
}

.footer-container-offset {
    position: absolute;
    bottom: 0;
}

address {
    margin-bottom: 0;
}

[role='main'] {
    padding-top: 56px;
}

.nav-link-hover:hover {
    background-color: #f8f9fa;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 56px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 56px);
    /* padding-top: 0.5rem; */
    overflow-x: hidden;
    overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.img-thumbnail-brand {
    width: 512px;
    height: 512px;
    object-fit: contain;
}

.about-us__header {
    margin: 24px 0;
}

.about-us__signature {
    margin-bottom: 0;
}

.about-us__image {
    margin-bottom: 1rem;
}