{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {% block error %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}