{% extends "layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="about-us__header">About Us</h1>
    <div class="row">
        <div class="col">
            <p>ZIP international Group LLC. was incorporated in New Jersey in 1994 and specializes in food imports from various European, Eastern European, and Asian countries.</p>
            <p>Our company continually grows and evolves according to Global market needs. We have developed extensive experience working with European and Asian companies.</p>
            <p>Today we hold exclusive import and distribution rights on the majority of goods in our care. Currently, we import from such countries as Russia, Ukraine, Latvia, Lithuania, Estonia, Germany, Poland, Bulgaria, Hungary, Belgium, Norway, Denmark, France, China, India, Vietnam, and Sri Lanka.</p>
            <p>We fully cover the US market, representing our brands. Zip International Group has access to a broad network of major distributors and wholesalers of “delicatessen” products. The effective management and close cooperation with nearly 100 suppliers worldwide allows Zip International Group, LLC to have an extensive stock of about 1200 different items. We have the opportunity to offer our customers the most competitive prices on the market!</p>
            <p>We have created many new products with our private labels (ZIP brand) which are being manufactured in different countries in Europe and Asia.</p>
            <p>Grocery products with the ZIP international Group, LLC label can be found in 800+ stores throughout the United States and Canada.</p>
            <p>The company has a significant network of employees, who, as competent professionals, constantly continue their education. They are always ready to assist our customers the best way possible.</p>
            <p>One of the most important goals of Zip International Group, LLC is not only the delivery of a well chosen food commodity range, but also the support to our customers in all areas of trading, beginning with the preparation of the order, to the scientific placement of goods in trade zones.</p>
            <p>Our company’s means are placed at the service of customers as they are the highest priority of our interests!</p>
            <p>The invariable slogan and philosophy of ZIP International Group is – “Success of The Client – Our Success!”</p>
            <div>
                <p class="text-muted about-us__signature">
                    Igor Kisselgoff, Leon Nagel
                    <br>
                    Partners
                </p> 
                <img src="{{ url_for('static', filename='logo.jpg') }}" alt="ZIP International" class="about-us__image">
            </div>
        </div>
    </div>
</div>
{% endblock %}