{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-md-8 offset-md-2 p-3">
            <div class="text-center">
                <img src="{{ url_for('static', filename='logo.jpg') }}" alt="ZIP International">
            </div>
            <h4 class="text-center d-block mt-3">
                Official representative of the KDV Group Company in the US
                <br>
                <small class="text-muted">since 1996</small>
            </h4>
            <div class="row">
                {% for brand in brands %}
                <div class="col-6 col-md-3">
                    <a href="{{ url_for('catalog.show_item_list', mode='brands', collection_id=brand.id) }}">
                        <img src="{{ brand.image }}" alt="{{ brand.name }}" class="img-fluid">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}