{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col d-md-none mt-3">
            <ul class="nav nav-tabs nav-fill" id="listMode" role="tablist">
                <li class="nav-item">
                    <a href="#brands" class="nav-link {{ 'active' if mode == 'brands' }}" id="brands-tab" data-toggle="tab"
                        role="tab" aria-controls="brands" aria-selected="{{ mode == 'brands' }}">
                        Brands
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#categories" class="nav-link {{ 'active' if mode == 'categories' }}" id="categories-tab"
                        data-toggle="tab" role="tab" aria-controls="categories" aria-selected="{{ mode == 'categories' }}">
                        Categories
                    </a>
                </li>
            </ul>
            <div class="tab-content p-3 border border-top-0 rounded-bottom" id="listModeContent">
                <div class="tab-pane fade {{ 'show active' if mode == 'brands' }}" id="brands" role="tabpanel"
                    aria-labelledby="brands-tab">
                    <select id="catalogBrand" class="custom-select">
                        {% for b in brands %}
                        <option value="{{ b.id }}" {{ 'selected' if mode == 'brands' and b.id == collection_id }}>
                            {{ b.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="tab-pane fade {{ 'show active' if mode == 'categories' }}" id="categories" role="tabpanel"
                    aria-labelledby="categories-tab">
                    <select id="catalogCategory" class="custom-select">
                        {% for c in categories %}
                        <option value="{{ c.id }}" {{ 'selected' if mode == 'categories' and c.id == collection_id }}>
                            {{ c.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </nav>
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav nav-tabs nav-fill" id="listModeMedium" role="tablist">
                    <li class="nav-item">
                        <a href="#brandsMedium" class="nav-link {{ 'active' if mode == 'brands' }}" id="brands-tab"
                            data-toggle="tab" role="tab" aria-controls="brandsMedium" aria-selected="{{ mode == 'brands' }}">
                            Brands
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#categoriesMedium" class="nav-link {{ 'active' if mode == 'categories' }}" id="categories-tab"
                            data-toggle="tab" role="tab" aria-controls="categoriesMedium" aria-selected="{{ mode == 'categories' }}">
                            Categories
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="listModeMediumContent">
                    <div class="tab-pane fade {{ 'show active' if mode == 'brands' }}" id="brandsMedium" role="tabpanel"
                        aria-labelledby="brandsMedium-tab">
                        <ul class="nav flex-column">
                            {% for b in brands %}
                            <li class="nav-item">
                                <a href="{{ url_for('catalog.show_item_list', mode='brands', collection_id=b.id) }}"
                                    class="nav-link {{ 'active' if mode == 'brands' and b.id == collection_id }}">
                                    {{ b.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane fade {{ 'show active' if mode == 'categories' }}" id="categoriesMedium" role="tabpanel"
                        aria-labelledby="categoriesMedium-tab">
                        <ul class="nav flex-column">
                            {% for c in categories %}
                            <li class="nav-item">
                                <a href="{{ url_for('catalog.show_item_list', mode='categories', collection_id=c.id) }}"
                                    class="nav-link {{ 'active' if mode == 'categories' and c.id == collection_id }}">
                                    {{ c.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="col-md-10 ml-sm-auto">
            <div class="row">
                {% for i in items %}
                <div class="col-12 col-sm-6 col-md-3 p-3">
                    <div class="card h-100">
                        <img src="{{ i.image }}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.name }}</h5>
                            <p class="card-text">{{ unescape_newlines(i.description) }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            {{ i.category.name if mode == 'brands' else i.brand.name }}
                        </div>
                    </div>
                </div>
                {% else %}
                <h1 class="text-center w-100 mt-5">No products here yet</h1>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0 footer-container-offset">
    <div class="row no-gutters">
        <div class="col-md-10 offset-md-2">
            {% include 'footer.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}