{% extends "admin/layout.html" %}

{% block admin_content %}
<div class="container">
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.name.label }}
                {{ form.name(class='form-control mb-3', placeholder='Item name') }}
                {{ form.description.label }}
                {{ form.description(class='form-control mb-3', rows='3') }}
                <div class="form-row">
                    <div class="form-group col">
                        {{ form.category_id.label }}
                        {{ form.category_id(class='custom-select mb-3') }}
                        {{ form.brand_id.label }}
                        {{ form.brand_id(class='custom-select mb-3') }}
                        {{ form.status.label }}
                        {{ form.status(class='custom-select mb-3') }}
                        {{ form.submit(class='btn btn-success') }}
                        {% if id %}
                        <a href="{{ url_for('admin.delete_item', item_id=id, next=request.args.get('next')) }}" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this item?')">
                            Delete
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                {{ form.image.label }}
                <div class="custom-file mb-md-5 mb-3">
                    {{ form.image(class='custom-file-input image-input') }}
                    <label for="{{ form.image.id }}" class="custom-file-label">
                        Choose image
                    </label>
                </div>
                <img src="{{ image }}" alt="Item image" id="imagePreview" class="img-thumbnail mx-auto d-block w-100">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">

            </div>
        </div>
    </form>
</div>
{% endblock %}