{% extends "admin/layout.html" %}

{% block admin_content %}
<div class="container">
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.name.label() }}
                {{ form.name(class='form-control', placeholder='Brand name') }}
            </div>
            <div class="form-group col-md-6">
                {{ form.image.label }}
                <div class="custom-file">
                    {{ form.image(class='custom-file-input image-input') }}
                    <label for="{{ form.image.id }}" class="custom-file-label">
                        Choose image
                    </label>
                </div>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.submit(class='btn btn-success') }}
                {% if id %}
                <a
                    href="{{ url_for('admin.delete_brand', brand_id=id) }}"
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this brand?')"
                >
                    Delete
                </a>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <img
                    src="{{ image }}"
                    alt="Item image"
                    id="imagePreview"
                    class="img-thumbnail img-thumbnail-brand mx-auto d-block"
                >
            </div>
        </div>
    </form>
</div>
{% endblock %}