{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="nav mb-3 border border-top-0 border-light">
                <a href="{{ url_for('admin.show_item_list') }}" class="nav-link nav-link-hover border-right border-light">
                    Item list
                </a>
                <a href="{{ url_for('admin.show_category_list') }}" class="nav-link nav-link-hover border-right border-light">
                    Categories
                </a>
                <a href="{{ url_for('admin.show_brand_list') }}" class="nav-link nav-link-hover border-right border-light">
                    Brands
                </a>
                <a href="{{ url_for('admin.logout') }}" class="nav-link nav-link-hover ml-auto border-left border-light">
                    Log out
                </a>
            </nav>
        </div>
    </div>
    {% if get_flashed_messages() %}
    <div class="row">
        <div class="col">
            <div class="alert alert-warning">
                {% for message in get_flashed_messages() %}
                {{ message }}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
