{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4 offset-4 mt-5">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label(class='sr-only') }}
                    {{ form.email(class='form-control', placeholder='Email',
                    autofocus='') }}
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class='sr-only') }}
                    {{ form.password(class='form-control', placeholder='Password') }}
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.submit(class='btn btn-lg btn-primary btn-block') }}
            </form>
        </div>
    </div>
</div>

{% endblock %}
