{% extends "admin/layout.html" %}

{% block admin_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form
                action="{{ url_for('admin.delete_brands') }}"
                method="post"
                id="deleteForm"
            >
                <table class="table table-striped table-hover">
                    <colgroup>
                        <col style="width: 50px;">
                        <col>
                        <col style="width: 50px;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">
                            <a
                                href="{{ url_for('admin.create_brand') }}"
                                title="Add a brand"
                                class="text-success"
                            >
                                <i class="fas fa-plus"></i>
                            </a>
                        </th>
                        <th scope="col">Name</th>
                        <th scope="col">
                            <button
                                class="btn btn-link p-0 text-danger"
                                id="deleteSubmit"
                                type="submit"
                                disabled
                                title="Delete chosen brands?"
                                onclick="return confirm('Are you sure you want to delete these brands?')"
                            >
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for brand in brands %}
                    <tr>
                        <td>
                            <input type="checkbox" name="{{ brand.id }}">
                        </td>
                        <td>
                            <a
                                href="{{ url_for('admin.update_brand', brand_id=brand.id) }}"
                                title="Edit"
                            >
                                {{ brand.name }}
                            </a>
                        </td>
                        <td>
                            <a
                                href="{{ url_for('admin.delete_brand', brand_id=brand.id) }}"
                                class="text-danger"
                                title="Delete"
                                onclick="return confirm('Are you sure you want to delete this brand?')"
                            >
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if brands|length < 1 %}
                <div class="col-sm alert alert-warning" role="alert">
                    No brands yet
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}