{% extends "admin/layout.html" %}

{% block admin_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row mb-3">
                <div class="col col-md-4">
                    <select id="adminBrand" class="custom-select">
                        <option value="0" {{ 'selected' if not current_brand }}>All brands</option>
                        {% for b in brands %}
                        <option value="{{ b.id }}" {{ 'selected' if current_brand.id == b.id }}>
                            {{ b.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <form action="{{ url_for('admin.delete_items', next=next) }}" method="post" id="deleteForm">
                <table class="table table-striped table-hover">
                    <colgroup>
                        <col style="width: 50px;">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col style="width: 50px;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">
                                <a href="{{ url_for('admin.create_item', next=next) }}" title="Add an item" class="text-success">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Category</th>
                            <th scope="col">Brand</th>
                            <th scope="col">
                                <button class="btn btn-link p-0 text-danger" id="deleteSubmit" type="submit" disabled
                                    onclick="return confirm('Are you sure you want to delete these items?')" title="Delete chosen items">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>
                                <input type="checkbox" name="{{ item.id }}">
                            </td>
                            <td>
                                <a href="{{ url_for('admin.update_item', item_id=item.id, next=next) }}" title="Edit">
                                    {{ item.name }}
                                </a>
                            </td>
                            <td>{{ item.status }}</td>
                            <td>{{ item.category.name }}</td>
                            <td>{{ item.brand.name }}</td>
                            <td>
                                <a href="{{ url_for('admin.delete_item', item_id=item.id, next=next) }}" title="Delete"
                                    class="text-danger" onclick="return confirm('Are you sure you want to delete this item?')">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if items|length < 1 %} <div class="col-sm alert alert-warning" role="alert">
                    No items yet
        </div>
        {% endif %}
        </form>
    </div>
</div>
</div>
{% endblock %}