{% block footer %}
<footer class="footer bg-light">
    <div class="container">
        <address class="text-muted">
            <strong>ZIP International Group LLC</strong>
            <br>
            160 Raritan Center Parkway
            <br>
            Unit #6
            <br>
            Edison, NJ 08837
            <br>
            <abbr title="Phone">
                <i class="fas fa-phone"></i>
            </abbr>
            <a href="tel:7322253600">(732) 225-3600</a>
            <br>
            <abbr title="Fax">
                <i class="fas fa-fax"></i>
            </abbr>
            (732) 225-3602
        </address>
    </div>
</footer>
{% endblock %}